<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Drivefly</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link 
            rel="stylesheet" 
            href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" 
            integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" 
            crossorigin="anonymous">

        <link 
            rel="stylesheet" 
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" 
            crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="css/main.css" >

        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.standalone.min.css" >

        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

        <script 
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
        crossorigin="anonymous"></script>

        <script 
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" 
        crossorigin="anonymous"></script>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" 
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" 
        crossorigin="anonymous"></script>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>

    </head>
    <body>
        <!-- styled nav by thais -->
            <!-- <input type="hidden" id="hdn_service" value="0">
            <input type="hidden" id="hdn_airport" value="0">
            <input type="hidden" id="hdn_agent" value="0">
            <input type="hidden" id="hdn_period" value="0">  -->

        <nav class="navbar navbar-expand-md bg-light navbar-light shadow-sm px-sm-0">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><i class="fa d-inline fa-lg fa-plane"></i><b> rishi2</b></a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent"> <span class="navbar-toggler-icon"></span> </button>
              <div class="collapse navbar-collapse justify-content-between" id="navbar2SupportedContent">
                <ul class="navbar-nav">
                  <li class="nav-item mx-2">
                    <a class="nav-link" href="index.html">Home</a>
                  </li>
                  <li class="nav-item mx-2">
                    <a class="nav-link" href="daily.html">Daily</a>
                  </li>
                  <li class="nav-item mx-2">
                    <a class="nav-link" href="stats.html">Stats</a>
                  </li>
                  <li class="nav-item mx-2">
                    <a class="nav-link" href="levels.html">Levels</a>
                  </li>
                  <li class="nav-item mx-2 active">
                    <a class="nav-link" href="monthly.html">Monthly</a>
                  </li>
                  <li class="nav-item dropdown mx-2">
                    <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Other</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                      <a class="dropdown-item" href="daily-without-terminal">Daily without terminal</a>
                      <a class="dropdown-item" href="price.html">Price</a>
                      <a class="dropdown-item" href="products.html">Products</a>
                      <a class="dropdown-item" href="xpayments.html">Extra payments</a>
                      <a class="dropdown-item" href="alerts.html">Alerts</a>
                      <a class="dropdown-item" href="log.html">Logs</a>
                    </div>
                  </li>
                </ul>
                <div class="d-inline-flex">
                    <form class="form-inline my-2 my-lg-0 mx-2">
                        <div class="input-group">
                          <input class="form-control" type="text" placeholder="Search">
                          <div class="input-group-append"> 
                              <button class="btn btn-outline-secondary" type="submit">Search</button> 
                          </div>
                        </div>
                    </form>
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa d-inline fa-lg fa-plus-circle"></i></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa d-inline fa-lg fa-cog"></i></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa d-inline fa-lg fa-sign-out-alt"></i></a>
                      </li>
                    </ul>
                </div>
              </div>
            </div>
        </nav>
        <!-- end styled nav by thais -->
        <div class="container-fluid">
            <!-- Spinner needs to be defined
            <div id="spinner" class="none">
                <div class="loader"></div>
            </div> 
            -->
            <div class="row pt-3 pb-1">
                <div class="col-sm-4 pb-2 pb-sm-0 d-flex justify-content-md-start">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                      <label class="btn btn-secondary active">
                        <input type="radio" name="options" id="option1" autocomplete="off" checked> ALL
                      </label>
                      <label class="btn btn-secondary">
                        <input type="radio" name="options" id="option2" autocomplete="off"> MG
                      </label>
                      <label class="btn btn-secondary">
                        <input type="radio" name="options" id="option3" autocomplete="off"> PR
                      </label>
                    </div>
                </div>

                <div class="col-sm-4 pb-2 pb-sm-0 d-flex justify-content-md-center">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                      <label class="btn btn-secondary active">
                        <input type="radio" name="options" id="option1" autocomplete="off" checked> ALL
                      </label>
                      <label class="btn btn-secondary">
                        <input type="radio" name="options" id="option2" autocomplete="off"> LHR
                      </label>
                      <label class="btn btn-secondary">
                        <input type="radio" name="options" id="option3" autocomplete="off"> BHX
                      </label>
                      <label class="btn btn-secondary">
                        <input type="radio" name="options" id="option3" autocomplete="off"> LTN
                      </label>
                    </div>
                </div>

               

                <div class="col-sm-4 pb-sm-0 d-flex justify-content-md-end">
                      <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary">
                          <input type="radio" name="options" id="option1" autocomplete="off"> 2016
                        </label>
                        <label class="btn btn-secondary active">
                          <input type="radio" name="options" id="option2" autocomplete="off" checked> 2017
                        </label>
                        <label class="btn btn-secondary">
                          <input type="radio" name="options" id="option3" autocomplete="off"> 2018
                        </label>
                      </div>
                </div>
            </div>
            <div class="row pb-3">
              <div class="offset-md-8 col-sm-4 d-flex justify-content-md-end">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-outline-secondary btn-sm">
                    <input type="radio" name="options" id="option1" autocomplete="off"> Jan
                  </label>
                  <label class="btn btn-outline-secondary btn-sm">
                    <input type="radio" name="options" id="option2" autocomplete="off"> Feb
                  </label>
                  <label class="btn btn-outline-secondary btn-sm">
                    <input type="radio" name="options" id="option3" autocomplete="off"> Mar
                  </label>
                  <label class="btn btn-outline-secondary btn-sm">
                    <input type="radio" name="options" id="option4" autocomplete="off"> Apr
                  </label>
                  <label class="btn btn-outline-secondary btn-sm active">
                    <input type="radio" name="options" id="option5" autocomplete="off" checked> May
                  </label>
                  <label class="btn btn-outline-secondary btn-sm">
                    <input type="radio" name="options" id="option6" autocomplete="off"> Jun
                  </label>
                  <label class="btn btn-outline-secondary btn-sm">
                    <input type="radio" name="options" id="option7" autocomplete="off"> Jul
                  </label>
                  <label class="btn btn-outline-secondary btn-sm">
                    <input type="radio" name="options" id="option8" autocomplete="off"> Aug
                  </label>
                  <label class="btn btn-outline-secondary btn-sm">
                    <input type="radio" name="options" id="option9" autocomplete="off"> Sep
                  </label>
                  <label class="btn btn-outline-secondary btn-sm">
                    <input type="radio" name="options" id="option10" autocomplete="off"> Oct
                  </label>
                  <label class="btn btn-outline-secondary btn-sm">
                    <input type="radio" name="options" id="option11" autocomplete="off"> Nov
                  </label>
                  <label class="btn btn-outline-secondary btn-sm">
                    <input type="radio" name="options" id="option12" autocomplete="off"> Dec
                  </label>
                </div>
              </div>
            </div>
        </div>
        <div class="container-fluid p-2 bg-light">
          <div class="row">
            <div class="col py-3">
              <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: 54.51%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">16515 picks</div>
                <div class="progress-bar bg-info" role="progressbar" style="width: 45.49%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">picks 13781 drops</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col pb-2">
              <button type="button" class="btn btn-primary">Show/Hide Products</button>
            </div>
          </div>

        <div class="row">
          <div class="col-md-12 pb-5">
              <table class="table table-drivefly borderless ng-scope text-center">

                <tbody>
                  <tr class="active">
                  <th class="products-aname">Agent</th>
                  <th class="products-pname">Product</th>
                  <th class="products-count">Bookings</th>
                  <th class="products-perbooking">Per Booking</th>
                  <th class="products-accuracy text-center">Accuracy</th>
                  <th class="products-est">Estimate Net</th>
                  
                </tr>

                <tr class="total-products">

                          <td class="agent-aname ng-binding">
                            DriveFly
                          </td>
                          <td class="agent-pname">-</td>
                          <td class="agent-count ng-binding">
                            401
                          </td>
                        <td class="products-perbooking ng-binding">
                          £ 86.64
                        </td>
                          <td class="agent-accuracy">
                          <span ng-hide="o.auto == 0 || o.name == 'HD'"> 80 %</span>
                          </td>
                          <td class="agent-est">
                            <span>£ 34742.62</span>
                          </td>


                      </tr>
                      <tr class="total-products" ng-click="vm.showProducts = !vm.showProducts" style="cursor:pointer;">

                          <td class="agent-aname ng-binding">
                            FHR
                          </td>
                          <td class="agent-pname">-</td>
                          <td class="agent-count ng-binding">
                            128
                          </td>
                        <td class="products-perbooking ng-binding">
                          £ 72.13
                        </td>
                          <td class="agent-accuracy">
                          <span ng-hide="o.auto == 0 || o.name == 'HD'"> 100 %</span>
                          </td>
                          <td class="agent-est">
                            <span>£ 9233.09</span>
                          </td>


                      </tr>
                      <tr class="total-products" ng-click="vm.showProducts = !vm.showProducts" style="cursor:pointer;">

                          <td class="agent-aname ng-binding">
                            APH
                          </td>
                          <td class="agent-pname">-</td>
                          <td class="agent-count ng-binding">
                            107
                          </td>
                        <td class="products-perbooking ng-binding">
                          £ 87.66
                        </td>
                          <td class="agent-accuracy">
                          <span ng-hide="o.auto == 0 || o.name == 'HD'"> 100 %</span>
                          </td>
                          <td class="agent-est">
                            <span>£ 9379.7</span>
                          </td>


                      </tr>
                      <tr class="total-products" ng-click="vm.showProducts = !vm.showProducts" style="cursor:pointer;">

                          <td class="agent-aname ng-binding">
                            SKYP
                          </td>
                          <td class="agent-pname">-</td>
                          <td class="agent-count ng-binding">
                            1036
                          </td>
                        <td class="products-perbooking ng-binding">
                          £ 70.73
                        </td>
                          <td class="agent-accuracy">
                          <span ng-hide="o.auto == 0 || o.name == 'HD'"> 100 %</span>
                          </td>
                          <td class="agent-est">
                            <span>£ 73273.57</span>
                          </td>


                      </tr>
                      <tr class="total-products" ng-click="vm.showProducts = !vm.showProducts" style="cursor:pointer;">

                          <td class="agent-aname ng-binding">
                            L4P
                          </td>
                          <td class="agent-pname">-</td>
                          <td class="agent-count ng-binding">
                            401
                          </td>
                        <td class="products-perbooking ng-binding">
                          £ 78.07
                        </td>
                          <td class="agent-accuracy">
                          <span ng-hide="o.auto == 0 || o.name == 'HD'"> 32 %</span>
                          </td>
                          <td class="agent-est">
                            <span>£ 31304.85</span>
                          </td>


                      </tr>
                      <tr class="total-products" ng-click="vm.showProducts = !vm.showProducts" style="cursor:pointer;">

                          <td class="agent-aname ng-binding">
                            NEW
                          </td>
                          <td class="agent-pname">-</td>
                          <td class="agent-count ng-binding">
                            2
                          </td>
                        <td class="products-perbooking ng-binding">
                          £ 0.00
                        </td>
                          <td class="agent-accuracy">
                          <span ng-hide="o.auto == 0 || o.name == 'HD'" class="ng-binding ng-hide"> 0 %</span>
                          </td>
                          <td class="agent-est">
                            <span>£ 0</span>
                          </td>


                      </tr>
                      <tr class="total-products" ng-click="vm.showProducts = !vm.showProducts" style="cursor:pointer;">

                          <td class="agent-aname ng-binding">
                            UKPF
                          </td>
                          <td class="agent-pname">-</td>
                          <td class="agent-count ng-binding">
                            43
                          </td>
                        <td class="products-perbooking ng-binding">
                          £ 64.80
                        </td>
                          <td class="agent-accuracy">
                          <span ng-hide="o.auto == 0 || o.name == 'HD'"> 100 %</span>
                          </td>
                          <td class="agent-est">
                            <span>£ 2786.61</span>
                          </td>


                      </tr>
                      <tr class="total-products" ng-click="vm.showProducts = !vm.showProducts" style="cursor:pointer;">

                          <td class="agent-aname ng-binding">
                            P and G
                          </td>
                          <td class="agent-pname">-</td>
                          <td class="agent-count ng-binding">
                            6
                          </td>
                        <td class="products-perbooking ng-binding">
                          £ 0.00
                        </td>
                          <td class="agent-accuracy">
                          <span ng-hide="o.auto == 0 || o.name == 'HD'"> 83 %</span>
                          </td>
                          <td class="agent-est">
                            <span>£ 0</span>
                          </td>


                      </tr>
                      <tr class="total-products" ng-click="vm.showProducts = !vm.showProducts" style="cursor:pointer;">

                          <td class="agent-aname ng-binding">
                            CHR
                          </td>
                          <td class="agent-pname">-</td>
                          <td class="agent-count ng-binding">
                            1232
                          </td>
                        <td class="products-perbooking ng-binding">
                          £ 63.15
                        </td>
                          <td class="agent-accuracy">
                          <span ng-hide="o.auto == 0 || o.name == 'HD'"> 100 %</span>
                          </td>
                          <td class="agent-est">
                            <span>£ 77806.37</span>
                          </td>


                      </tr>
                      <tr class="total-products" ng-click="vm.showProducts = !vm.showProducts" style="cursor:pointer;">

                          <td class="agent-aname ng-binding">
                            EX
                          </td>
                          <td class="agent-pname">-</td>
                          <td class="agent-count ng-binding">
                            2542
                          </td>
                        <td class="products-perbooking ng-binding">
                          £ 68.59
                        </td>
                          <td class="agent-accuracy">
                          <span ng-hide="o.auto == 0 || o.name == 'HD'"> 100 %</span>
                          </td>
                          <td class="agent-est">
                            <span>£ 174352.96</span>
                          </td>


                      </tr>
                      <tr class="total-products" ng-click="vm.showProducts = !vm.showProducts" style="cursor:pointer;">

                          <td class="agent-aname ng-binding">
                            SPF
                          </td>
                          <td class="agent-pname">-</td>
                          <td class="agent-count ng-binding">
                            130
                          </td>
                        <td class="products-perbooking ng-binding">
                          £ 62.58
                        </td>
                          <td class="agent-accuracy">
                          <span ng-hide="o.auto == 0 || o.name == 'HD'"> 100 %</span>
                          </td>
                          <td class="agent-est">
                            <span>£ 8135.03</span>
                          </td>


                      </tr>
                      <tr class="total-products" ng-click="vm.showProducts = !vm.showProducts" style="cursor:pointer;">

                          <td class="agent-aname ng-binding">
                            TT
                          </td>
                          <td class="agent-pname">-</td>
                          <td class="agent-count ng-binding">
                            5
                          </td>
                        <td class="products-perbooking ng-binding">
                          £ 80.92
                        </td>
                          <td class="agent-accuracy">
                          <span ng-hide="o.auto == 0 || o.name == 'HD'"> 100 %</span>
                          </td>
                          <td class="agent-est">
                            <span>£ 404.6</span>
                          </td>


                      </tr>
                      <tr class="total-products" ng-click="vm.showProducts = !vm.showProducts" style="cursor:pointer;">

                          <td class="agent-aname ng-binding">
                            ILMAG
                          </td>
                          <td class="agent-pname">-</td>
                          <td class="agent-count ng-binding">
                            103
                          </td>
                        <td class="products-perbooking ng-binding">
                          £ 26.08
                        </td>
                          <td class="agent-accuracy">
                          <span ng-hide="o.auto == 0 || o.name == 'HD'"> 94 %</span>
                          </td>
                          <td class="agent-est">
                            <span>£ 2685.85</span>
                          </td>


                      </tr>
                </tbody></table><!-- end ngIf: vm.simpleView --><!-- end ngRepeat: o in vm.o -->

                
      <!-- ngIf: vm.simpleView --><table class="table table-drivefly borderless ng-scope text-center">          
     <tbody><tr style="font-size: 20px; font-weight: bold;">
        <td></td>
        <td></td>
        <td>6136</td>
        <td><span style="font-size:14px;">per booking</span> £ 69.12</td>
        <td>£ 424105.25</td>
    </tr>                
                
          </tbody></table><!-- end ngIf: vm.simpleView -->
              </table>
            </div>
            <div class="col-md-12 bg-white mt-2">
              <div class="row">
                <div class="col">
                  <p class="text-center p-2">Number of Bookings</p>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <script type="text/javascript" src="js/plotlyjs-bundle.js"></script>
                  <script type="text/javascript" src="js/figure2.js"></script>
                  
                  <div id="89e8cb4e-bc5d-45c2-9447-3320d969492d" class="plotly-graph-div"></div>
                  <script type="text/javascript">
                      (function(){
                          window.PLOTLYENV={'BASE_URL': 'https://plot.ly'};

                          var gd = document.getElementById('89e8cb4e-bc5d-45c2-9447-3320d969492d')
                          var resizeDebounce = null;

                          function resizePlot() {
                              var bb = gd.getBoundingClientRect();
                              Plotly.relayout(gd, {
                                  width: bb.width,
                                  height: bb.height
                              });
                          }

                          
                          window.addEventListener('resize', function() {
                              if (resizeDebounce) {
                                  window.clearTimeout(resizeDebounce);
                              }
                              resizeDebounce = window.setTimeout(resizePlot, 100);
                          });
                          

                          
                          Plotly.plot(gd,  {
                              data: figure.data,
                              layout: figure.layout,
                              frames: figure.frames,
                              config: {"mapboxAccessToken": "pk.eyJ1IjoiY2hyaWRkeXAiLCJhIjoiY2lxMnVvdm5iMDA4dnhsbTQ5aHJzcGs0MyJ9.X9o_rzNLNesDxdra4neC_A", "linkText": "Export to plot.ly", "showLink": false}
                          });
                          
                     }());
                  </script>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <script type="text/javascript" src="js/figure3.js"></script>
        
                  <div id="35673599-4c90-4644-8dc7-134db9ec6c91" style="width: 100%;" class="plotly-graph-div"></div>
                  <script type="text/javascript">
                      (function(){
                          window.PLOTLYENV={'BASE_URL': 'https://plot.ly'};

                          var gd = document.getElementById('35673599-4c90-4644-8dc7-134db9ec6c91')
                          var resizeDebounce = null;

                          function resizePlot() {
                              var bb = gd.getBoundingClientRect();
                              Plotly.relayout(gd, {
                                  width: bb.width,
                                  height: bb.height
                              });
                          }

                          
                          window.addEventListener('resize', function() {
                              if (resizeDebounce) {
                                  window.clearTimeout(resizeDebounce);
                              }
                              resizeDebounce = window.setTimeout(resizePlot, 100);
                          });
                          

                          
                          Plotly.plot(gd,  {
                              data: figure.data,
                              layout: figure.layout,
                              frames: figure.frames,
                              config: {"mapboxAccessToken": "pk.eyJ1IjoiY2hyaWRkeXAiLCJhIjoiY2lxMnVvdm5iMDA4dnhsbTQ5aHJzcGs0MyJ9.X9o_rzNLNesDxdra4neC_A", "linkText": "Export to plot.ly", "showLink": false}
                          });
                          
                     }());
                  </script>
                </div>
              </div>
            </div>
          </div>
        </div>
        <script type="text/javascript">
            $(function () {
              $('[data-toggle="tooltip"]').tooltip()
            })
        </script>

        <script type="text/javascript">

            $(function () {
              $('#sandbox-container .input-daterange').datepicker({ });
            })
        </script>
        <script type="text/javascript">
            $('#datepicker').datepicker();
        </script>
    </body>
</html>
